html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: Trebuchet MS, sans-serif;
}

.stage {
    width: 100%;
}

.pageContent {
    width: 1000px;
    margin: 50px auto 0px auto;
    font-size: 16px;
    line-height: 140%;
}

.pageTitle {
    background: url('/css/img/p3_bkgd.jpg') no-repeat left center;
    font-size: 96px;
    font-family: Lato;
    height: 230px;
    margin: 0px;
    padding: 30px 0px 0px 60px;
    color: #999;
    line-height: 100%;
}

.lorem {
  float: left;
  width: 460px;
  padding 20px;
  margin: 0px;
}

.user {
  float: left;
  width: 480px;
  padding 20px;
  margin: 0px 0px 0px 40px;
}

.disclaimer {
  font-size: 11px;
  color: #666;
  line-height: 150%;
  margin: 10px 0px 15px 0px;
}

.bladePage {
    margin: 0px;
}

.error {
  background-color: #ff0000;
  margin: 20px 0px 20px 0px;
  padding: 20px;
  color: #fff;
  font-weight: bold;
}

h1 {

  width: 100%;
  border-bottom: 1px dotted #999;
  padding-bottom: 10px;
}

h2 {
  font-weight: bold;
  margin-bottom: 10px;
}

a.welcome {
  text-decoration: none;
  color: #333;
}

a.welcome:hover {
  text-decoration: underline;
  color: #cc6600;
}

.topLinks {
  text-align: right;
  width: 100%;
  color: #eee;
}

a.topLinks {
  text-decoration: none;
  color: #999;
}

a.topLinks:hover {
  text-decoration: underline;
  color: #ffcc00;
}

.topLinks ul li {
  list-style-type: none;
  display: inline;
}

.topLinks2 li {
  list-style-type: none;
  display: inline;
  border-left: 1px solid #eee;
  padding-left: 5px;
}
