h1.lorem {
  color: #666;
  width: 980px;
  height: 40px;
  font-size: 36px;
  padding: 60px 0px 0px 20px;
  margin-bottom: 20px;
  background: url('/css/img/p3_lorem-bkgd.jpg') no-repeat left center;
  border: 0px;
}

.example {
  font-weight: bold;
  color: #999;
  font-size: 20px;
  font-style: italic;
}
