h1.usergen {
  color: #666;
  width: 980px;
  height: 40px;
  font-size: 36px;
  padding: 60px 0px 0px 20px;
  margin-bottom: 20px;
  background: url('/css/img/p3_usergen-bkgd.jpg') no-repeat left center;
  border: 0px;
}

h2 {
  color: #336699;
}

.types {
  margin-left: 40px;
}

.users {
  margin: 20px;
  padding: 20px;
  background-color: #eee;
}
