h1.xkcd {
  color: #666;
  width: 980px;
  height: 40px;
  font-size: 36px;
  padding: 60px 0px 0px 20px;
  margin: 0px 0px 20px 0px;
  background: url('/css/img/p3_xkcd-bkgd.jpg') no-repeat;
}

.example {
  font-weight: bold;
  color: #999;
  font-size: 20px;
  font-style: italic;
}

h2 {
  color: #cc9900;
  margin-bottom: 20px;
}

.password {
  display: inline-block;
	font-size:28px;
	width: 980px;
	color:#666;
	line-height: 135%;
	margin: 0px auto 5px auto;
	padding: 10px;
	background-color: #eee;
	text-align: center;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border:1px solid #666;
	text-shadow:#C17C3A 0 -1px 0;
	max-width: 980px;
	word-wrap: break-word;
}
